.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: background 250ms ease-out;
    color: $color-black;
    height: 8rem;
    display: flex;
    align-items: center;


    &--fixed {
        background-color: $color-white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
        color: $color-black;
    }

    &__content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        margin: 0;
        font-size: 2rem;
        font-weight: 400;
        padding-right: 1rem;
        font-weight: 700;
        display: flex;
        align-items: center;

        img {
            padding-right: 1rem;
        }

        @include small-max {
            font-size: 1.8rem;

            img {
                width: 34px;
                padding-right: 0.5rem;
            }
        }
    }
}